{% include 'header.html' %}
       <main>
            <div>
                <form method="post" action="/mcsorteositson">
                    <p>Escribe una frase</p>
                    <input id="input_Mcnumber"  name="input_Mcnumber" class="input-welcome" type="text" placeholder="Ingrese un numero">
                    <input id="input_Mcnumber2"  name="input_Mcnumber2" class="input-welcome" type="text" placeholder="Ingrese un numero">
                    <input id="input_Mcnumber3"  name="input_Mcnumber3" class="input-welcome" type="text" placeholder="Ingrese un numero">
                    <button class="button-ok" type="submit">Aceptar</button>                     
                </form>
            </div>  
       </main>
{% include 'fooder.html' %}